{% extends 'home/base.html' %}

{% block title %} Learning Page {% endblock %}

{% block css %}
<style>
    #answerPlaceholder {
        display: none;
        position: fixed;
        font-size: xx-large;
        text-align: center;
        border: 2px solid black;
        bottom: 10px; /* Adjust as needed */
        left: 40%;
        animation: slideIn 0.1s forwards; /* Animation duration: 0.5 seconds */
    }

    @keyframes slideIn {
        from {
            bottom: -100px; /* Start position below the screen */
        }
        to {
            bottom: 20px; /* End position 20px above the bottom of the screen */
        }
    }

    .alert {
        padding-right: 20px; /* Set right padding to 0 */
    }
</style>
{% endblock %}

{% block content%}

<div id="alert-container" style="position: fixed; top: 30px; left: 45%;">
    {% if messages %}
        {% for message in messages %}
            <div id="alert-{{ forloop.counter }}" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
            <script>
                // Automatically close the alert after 1 second if not manually closed
                setTimeout(function() {
                    $("#alert-{{ forloop.counter }}").alert('close');
                }, 1000);
            </script>
        {% endfor %}
    {% endif %}
</div>

<div> <img src="{{ question }}"> </div>

<div> 
    {% for option in options %}
        <form action="{% url 'learning' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="{{ option.mal }}">
            <input type="hidden" name="selected-answer" value="{{ option.eng }}">
            <input type="hidden" name="is-answer-shown" value="False">
        </form>
    {% endfor %}
</div>

<button id="showAnswerBtn">Show Answer</button>

<div style="margin: 20px 0px;">
    {% for i in confidence_color_level %}
        <span style="background-color: rgba(0, 255, 0, {{ i.1 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">{{ i.0 }}</span>
    {% endfor %}
</div>

<!--<div>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.0 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">a</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.1 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">aa</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.2 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">i</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.3 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">ii</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.4 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">u</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.5 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">uu</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.6 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">r</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.7 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">e</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.8 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">ee</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.9 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">ai</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.10 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">o</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.11 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">oo</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.12 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">au</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.13 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">am</span>
    <span style="background-color: rgba(0, 255, 0, {{ confidence_color_level.14 }}); padding: 5px 10px; border-radius: 0%; margin: 5px;">ah</span>
</div> -->

<div id="answerPlaceholder" class="alert alert-light" role="alert">
    <img src="{{ question }}">
    <p id="answerPlaceholderText"></p>
</div>

<script>
    document.getElementById('showAnswerBtn').addEventListener('click', function() {
        document.querySelectorAll('input[name="is-answer-shown"]').forEach(function(input) {
            input.value = 'True';
        });

        fetch('{% url "get_answer" %}')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(answer => {
                    document.getElementById('answerPlaceholderText').innerText = answer;
                    document.getElementById('answerPlaceholder').style.display = 'block';
                })
                .catch(error => {
                    console.error('Error fetching answer:', error);
                });

        
    });
</script>

{% endblock %}