{% extends 'home/base.html' %}

{% block title %} Account Page {% endblock %}

{% block css %}{% endblock %}

{% block content%}

<div>{{ user_stats.user }}</div>
<div>{{ user_stats.flashcard_allowed_levels }}</div>
<div>{{ user_stats.flashcard_1 }}</div>
<div>{{ user_stats.flashcard_2 }}</div>
<div>{{ user_stats.flashcard_3 }}</div>
<div>{{ user_stats.flashcard_4 }}</div>
<div>{{ user_stats.ordering_alphabet }}</div>
<div>{{ user_stats.ordering_image }}</div>
<div>{{ user_stats.quiz_1 }}</div>
<div>{{ user_stats.quiz_2 }}</div>

{% endblock %}