{% extends 'home/base.html' %}

{% block title %} Flashcard Page {% endblock %}

{% block css %}
<style>
    .alert {
        padding-right: 20px;
        /* Set right padding to 0 */
    }
</style>
{% endblock %}

{% block content%}

<div id="alert-container" style="position: fixed; top: 30px; left: 45%;">
    {% if messages %}
    {% for message in messages %}
    <div id="alert-{{ forloop.counter }}" class="alert alert-{{ message.tags }} alert-dismissible fade show"
        role="alert">
        {{ message }}
    </div>
    <script>
        // Automatically close the alert after 1 second if not manually closed
        setTimeout(function () {
            $("#alert-{{ forloop.counter }}").alert('close');
        }, 1000);
    </script>
    {% endfor %}
    {% endif %}
</div>


{% if '/normal/2' in request.path %}
<h3> {{ question }} </h3>
{% endif %}
{% if '/normal/1' in request.path %}
<img src="{{ question }}" alt="">
{% endif %}

<div>

    {% for option in options %}
    {% if '/normal/2' in request.path %}
    <form action="{% url 'quiz_normal' level='2' %}" method="post">
        {% csrf_token %}
        <button type="submit"><img src="{{ option.image }}"></button>
        <input type="hidden" name="selected-answer" value="{{ option.eng }}">
    </form>
    {% endif %}

    {% if '/normal/1' in request.path %}
    <form action="{% url 'quiz_normal' level='1' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="{{ option.mal }}">
        <input type="hidden" name="selected-answer" value="{{ option.eng }}">
    </form>
    {% endif %}
    {% endfor %}

</div>

<div style="position: fixed; top: 50px; right: 10px; padding: 20px;">
    <div>Current Score : {{ currentscore }}</div>
    <div>High Score : {{ highscore }}</div>
</div>

{% if finish %}
<script>
    setTimeout(() => {
        window.location.href = '{% url "quiz_levels" %}';
    }, 2000);
</script>
{% endif %}

{% endblock %}